.layout-container {
  display: flex;
  height: 100vh; /* Ocupa toda la altura de la ventana */
}

.main-content {
  flex: 1; /* Ocupa todo el espacio restante */
  padding: 20px;
  overflow-y: auto;
}
